{% extends "dashboard.html" %}
{% block title %}
User - Home
{% endblock %}


{% block main %}
<div class="container py-5 px-5 ">
    <div class="pt-5 pt-md-2">
        <h1>Book your Appointment</h1>
        <div class="">
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                          <i class="fas fa-pencil-alt text-info fa-3x"></i>
                        </div>
                        <div class="text-end">
                          <h3>278</h3>
                          <p class="mb-0">New Posts</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                          <i class="far fa-comment-alt text-warning fa-3x"></i>
                        </div>
                        <div class="text-end">
                          <h3>156</h3>
                          <p class="mb-0">New Comments</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                          <i class="fas fa-chart-line text-success fa-3x"></i>
                        </div>
                        <div class="text-end">
                          <h3>64.89 %</h3>
                          <p class="mb-0">Bounce Rate</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                          <i class="fas fa-map-marker-alt text-danger fa-3x"></i>
                        </div>
                        <div class="text-end">
                          <h3>423</h3>
                          <p class="mb-0">Total Visits</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}