{% extends "dashboard.html" %}
{% block title %}
User - Home
{% endblock %}


{% block main %}

<div class="container pt-4">
  <!--Section: Sales Performance KPIs-->
  <section class="mb-4">
    <div class="card">
      <div class="card-header text-center py-3">
        <h5 class="mb-0 text-center">
          <strong>Current Appointments</strong>
        </h5>
      </div>
      {% if current_user.is_doctor %}
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th scope="col">Appointment No.</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Age</th>
                <th scope="col">DOB</th>
                <th scope="col">Slot</th>
                <th scope="col">Actions</th>
                <!-- <th scope="col">Avg. Price</th> -->
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
                <tr id="{{ loop.index }}">
                  <td>{{ loop.index }}</td>
                  <td>{{ appointment.User.name }}</td>
                  <td>{{ appointment.User.dob|calculate_age }}</td>
                  <td>{{ appointment.User.dob.strftime('%d-%m-%Y') }}</td>
                  <td>{{ appointment.Appointment.slot.capitalize() }}</td>
                  <td>
                    <a href="/home/{{ appointment.Appointment.id }}" ><i class="fas fa-plus fa-fw me-3"></i></a> 
                    <span>
                      <a  href="#"><i class="fas fa-minus fa-fw me-3"></i></a>
                    </span>
                  </td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th scope="col">Appointment No.</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Appointment Slot</th>
                <th scope="col">Actions</th>
                <!-- <th scope="col">Avg. Price</th> -->
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ appointment.date.strftime('%d-%m-%Y') }}</td>
                  <td>{{ appointment.slot.capitalize() }}</td>
                  <td>
                    <a href="/delete_appointment/{{ appointment.id }}"><i class="fas fa-trash fa-fw me-3"></i></a> 
                  </td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  <!--Section: Sales Performance KPIs-->

  <section class="mb-4">
    <div class="">
      {% if appointment %}
        <p>{{ appointment[0].slot }}</p>
        <h1>Patient Details</h1>
        {% for a in appointment %}
        <ul>
          <li>Patient Name: {{ a.User.name }}</li>
          <li>Patient Age: {{ a.User.dob|calculate_age }}</li>
          <li>Patient Age: {{ a.User.gender }}</li>
          <a href="/delete_appointment/{{ a.Appointment.id }}" class="btn btn-success">Mark Done!</a>

        </ul>
        {% endfor %}
      {% endif %}
    </div>
  </section>

</div>


{% endblock %}