{% extends "dashboard.html" %}
{% block title %}
User - Appointments
{% endblock %}


{% block main %}

<div class="container pt-5">
  <!--Section: Sales Performance KPIs-->
  <section class="mb-4">
    <div class="card">
      <div class="card-header text-center py-3">
        <h5 class="mb-0 text-center">
          <strong>Current Appointments</strong>
        </h5>
      </div>
      {% if current_user.is_doctor %}
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th scope="col">Appointment No.</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Age</th>
                <th scope="col">DOB</th>
                <th scope="col">Slot</th>
                <!-- <th scope="col">Status</th> -->
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
                <tr id="{{ loop.index }}">
                  <td>{{ loop.index }}</td>
                  <td>{{ appointment.User.name }}</td>
                  <td>{{ appointment.User.dob|calculate_age }}</td>
                  <td>{{ appointment.User.dob.strftime('%d-%m-%Y') }}</td>
                  <td>{{ appointment.Appointment.slot.capitalize() }}</td>
                  <!-- <td>{{ appointment.Appointment.status }}</td> -->

                  <td>
                    <!-- /home/{{ appointment.Appointment.id }} -->
                    <!-- data-mdb-toggle="modal" data-mdb-target="#exampleModal" -->
                    <a href="/myappointments/{{ appointment.Appointment.id }}"><i class="fas fa-plus fa-fw me-3"></i></a> 
                    <span>
                      <a  href="{{ url_for('myappointments') }}"><i class="fas fa-minus fa-fw me-3"></i></a>
                    </span>
                  </td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th scope="col">Appointment No.</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Appointment Slot</th>
                <th scope="col">Actions</th>
                <!-- <th scope="col">Avg. Price</th> -->
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ appointment.date.strftime('%d-%m-%Y') }}</td>
                  <td>{{ appointment.slot.capitalize() }}</td>
                  <td>
                    <a href="/delete_appointment/{{ appointment.id }}"><i class="fas fa-trash fa-fw me-3"></i></a> 
                  </td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  <!--Section: Sales Performance KPIs-->
  {% if appointment %}
  <div class="row align-items-center text-center">
    <div class="col">
      <button type="button" class="btn btn-success" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
        Process Patient
      </button>
    </div>
    <div class="col">
      {{ appointment.id }}
      <a href="/markDone/{{ id }}" type="button" class="btn btn-danger">
        Mark Done
      </a>
    </div>
  </div>
  {% endif %}

</div>



<!-- ************** MODAL ************** -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Patient Details</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="mb-4">
            {% if appointment %}
              <p>{{ appointment[0].slot }}</p>
              {% for a in appointment %}
                <div class="row">
                  <div class="col"><strong>Personal Information</strong>   <i class="fas fa-user fa-fw me-3"></i></div>
                </div>
                <hr>
                <div class="row text-center mb-4">
                  <div class="col-4"><p><b>Name: </b>{{ a.User.name }}</p></div>
                  <div class="col-4"><p><b>Age: </b>{{ a.User.dob|calculate_age }}</p></div>
                  <div class="col-4"><p><b>Gender: </b>{{ a.User.gender }}</p></div>
                </div>
                <div class="row">
                  <div class="col"><strong>Enter Consultation Details</strong>   <i class="fas fa-pen fa-fw me-3"></i></div>
                </div>
                <hr>
                <textarea name="Enter here..." id="" cols="50" class="mb-4"></textarea>

                <div class="row">
                  <div class="col"><strong>Select Prescription</strong>   <i class="fas fa-capsules fa-fw me-3"></i></div>
                </div>
                <hr>
                <ul style="list-style: none;">
                  <li>
                    <input type="checkbox" name="Steroids" id="c1">
                    <label for="c1">Steroids</label>
                  </li>
                  <li>
                    <input type="checkbox" name="Analgesics" id="c2">
                    <label for="c2">Analgesic</label>
                  </li>
                  <li>
                    <input type="checkbox" name="Painkillers" id="c3">
                    <label for="c3">Painkiller</label>
                  </li>
                  <li>
                    <input type="checkbox" name="Antibiotics" id="c4">
                    <label for="c3">Antibiotics</label>
                  </li>
                </ul>
            
              {% endfor %}
            {% endif %}
        </section>
      </div>
      <div class="modal-footer">
        <a href="#" type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</a>
        <a href="/markDone/{{ id }}" type="button" class="btn btn-success">Save changes</a>
      </div>
    </div>
  </div>
{% endblock %}